:root {
	--main-title-color: #212121;
	--main-text-color: #757575;
	--main-contact-color: #757575;
	--main-tel-color: #757575;
	--main-logo-color: #2196f3;
	--hover-focus-color: #2196f3;
	--hero-footer-background-color: #2f303a;
	--typical-lh: 1.14;
}

body {
	font-family: "Roboto", sans-serif;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
}

/* Секція header */

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-logo-color);
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: var(--typical-lh);
	letter-spacing: 0.02em;
	color: #212121;
}

.header-contact {
	font-weight: 500;
	font-size: 14px;
	line-height: var(--typical-lh);
	letter-spacing: 0.02em;
	color: var(--main-contact-color);
}

.header-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: var(--typical-lh);
	letter-spacing: 0.02em;
	color: var(--main-tel-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--hover-focus-color);
}

.header-contact:hover,
.header-contact:focus {
	color: var(--hover-focus-color);
}

.header-tel:hover,
.header-tel:focus {
	color: var(--hover-focus-color);
}

/* Секція hero */

.hero {
	background-color: var(--hero-footer-background-color);
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}

.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background-color: #2196f3;
	cursor: pointer;
}

/* Cекція about */

.about-title {
	font-weight: 700;
	font-size: 14px;
	line-height: var(--typical-lh);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-title-color);
}

.about-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/* Cекція employment */

.employment-title {
	color: var(--main-title-color);
}

/* Cекція portfolio */

.portfolio {
	background-color: #f5f4fa;
}

.portfolio-title {
	color: var(--main-title-color);
}

.portfolio-title-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-color);
}

.portfolio-text {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

/* Cекція footer */

.footer {
	background-color: var(--hero-footer-background-color);
}

.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-logo-color);
}

.footer-address {
	font-style: normal;
}

.footer-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-contact {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

/* Cекція Портфоліо (другий макет) */

.information-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	cursor: pointer;
}

.information-btn:hover,
.information-btn:focus {
	background-color: #2196f3;
	color: #ffffff;
}

.information-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-title-color);
}

.information-text {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
